.list{
  width: 1100px;
  margin: 0 auto;
}

@media only screen and (max-width: 780px) {
  .list{
    width: 100%;
    margin: 0 auto;
  }

}

@media only screen and (max-width: 480px) {
  .list{
    width: 100%;
    margin: 0 auto;
  }

}
